@charset "utf-8";

.delete_success_box{
  text-align: center;
}

.delete_success_box h1{
  text-align: center;
  font-size:18px;
  color:black;
  font-weight:500;
}

@media all and (max-width:1280px) {

  .delete_success_box{
    margin-top:20px;
  }

  .delete_success_box{
    padding-bottom:50px;
  }

}
