@charset "utf-8";

.detail_result_box{
  background: white;
  width: 100%;
  min-height: 500px;
}

.detail_result_table {
  margin: auto;
  border-collapse: collapse;
  text-align: left;
  line-height: 15px;
  width: 100%;
}

.detail_result_table thead th {
  font-size: 18px;
  padding: 10px;
  font-weight: 500;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
  text-align: center;
}

.detail_result_table thead th:nth-child(1){
  width:350px;
}

.detail_result_table thead th:nth-child(2){
  width:350px;
}

.detail_result_table thead th:nth-child(3){
  width:70px;
}

.detail_result_table thead th:nth-child(4){
  width:80px;
}

.detail_result_table tbody th {
  height: 10px;
  padding: 10px;
  font-size: 13px;
  font-weight: 300;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
  border-right: 1px solid #ccc;
  text-align: center;
}

#container_section > div.detail_result_box > table > tbody > tr:nth-child(2) > th:nth-child(2){
  border-right: 0px;
}

#container_section > div.detail_result_box > table > tbody > tr:nth-child(1) > th:nth-child(5){
  border-right: 0px;
}

.file_box{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  text-align: center;
  height: auto;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}

.file_box h1{
  font-size: 13px;
  font-weight: 300;
  color:black;
}

.file_box a h2{
  cursor:pointer;
  font-size: 13px;
  font-weight: 300;
  color:black;
}

.file_box h2{
  font-size: 13px;
  font-weight: 300;
  color:black;
}

.post_text{
  font-size: 15px;
  font-weight: 300;
  padding:30px;
  min-height:300px;
}

.detail_result_box hr{
  border:2px solid #036;
  font-weight: 100;
}


.button_box button{
  border-radius:5px;
  background:white;
  border:2px solid gray;
  margin:30px;
  font-size: 13px;
}

.detail_result_box_address, .detail_result_box_business_name{
   word-break: break-all;
}

.file_box > a > h2{
   word-break: break-all;
}

@media all and (max-width:1280px) {

  .detail_result_box{
    width: 100%;
    height: auto;
    margin-top:20px;
  }

  .detail_result_box thead tr th{
    font-size: 13px;
  }

  .detail_result_box tbody tr th{
    font-size: 13px;
  }

  div.file_box > h1, div.detail_result_box > div.file_box > h2, div.detail_result_box > div.file_box > a > h2{
    font-size: 11px;
  }

  div.post_text{
    font-size: 13px;

}
