@charset "utf-8";

.input_information_post_password_box{
  text-align: center;
  width:100%;
  height:500px;
}

.input_information_post_password_box form h1{
  text-align: center;
  font-size:18px;
  color:black;
  font-weight:500;
}

.input_information_post_password_box form input{
  color:gray;
  border:1px solid black;
  border-radius: 5px;
  margin-top:30px;
  width:150px;
  height:30px;
}

.input_information_post_password_box form button{
  border:1px solid black;
  border-radius: 5px;
  margin-top:30px;
  width:70px;
  height:30px;
  color:black;
  background:white;
  font-size:13px;
}

@media all and (max-width:1280px) {

  .input_information_post_password_box{
    margin-top:20px;
  }

}
