@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script:400');

.company_box{
  width: 100%;
  height: 900px;
  background-image: url('../img/company.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.company_box h2{
  font-family: 'Nanum Pen Script', sans-serif;
  color:#4275f5;
  font-size:22px;
  padding-left: 50px;
  line-height:50px;
}

.company_box h3{
  font-family: 'Nanum Pen Script', sans-serif;
  color:gray;
  font-size:18px;
  padding-left:50px;
  line-height:20px;
  font-weight: 300;
}

.company_box h1{
  font-family: 'Nanum Pen Script', sans-serif;
  color:gray;
  font-size:20px;
  padding-left:50px;
  line-height:20px;
}

.history_box{
  width: 100%;
  height: 100%;
}

.history_first_box{
  width: 100%;
  height:550px;
  display: flex;
  justify-content:center;
  align-items:center;
  background-image: url('../img/history_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}

.history_first_box img{
  width: 600px;
  height:150px;
}

.history_second_box{
  width: 100%;
  height: 350px;
  padding-left: 50px;
  background-image: url('../img/history.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}

.history_second_box h1 , h2{
  display:inline;
  line-height:30px;
  font-size:15px;
}

.history_second_box h2{
  color:gray;
}

.history_second_box h1{
  color:black;
}


.organization_box{
  width: 100%;
  height: 100%;
}

.organization_first_box{
  width: 100%;
  height:550px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.organization_first_box img{
  width:600px;
  height:500px;
}

.organization_second_box{
  width: 100%;
  height: 350px;
  background-image: url('../img/organization.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}

.management_box{
  width: 100%;
  height:100%;
  text-align: center;
}

.management_first_box{
  width: 100%;
  height:400px;
}

.management_first_box h1{
  padding-top: 100px;
  font-size: 50px;
  color: black;
  font-family: 'Nanum Brush Script', cursive;
}

.management_first_box h2{
  font-family: 'Nanum Pen Script', sans-serif;
  font-size: 20px;
  color: gray;
  line-height:35px;
}

.management_second_box{
  width: 100%;
  height:500px;
  background-image: url('../img/management.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.map_box{
  padding-top:50px;
  width: 100%;
  text-align:center;
}

#container_section > div.content_box > div.map_box > a > img{
  width: 600px;
  height: 500px;
  border-radius: 10px;
}

.map_box img{
  width: 18px;
  height: 18px;
}

.map_box h1{
  display:inline;
  font-size:20px;
}

.map_box p{
  font-size:18px;
  font-weight: 100;
  line-height:30px;
}

@media all and (max-width:1280px) {

  .company_box{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-position: right;
  }

  .company_box h2{
    font-size: 20px;
  }

  .company_box h1{
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    font-size: 20px;
  }

  .company_box h3{
    font-weight:500;
    color:black;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

  .history_box{
    width: 100%;
    height: auto;
  }

  .history_first_box img{
    width: 100%;
    height: auto;
  }

  .history_second_box{
    width: 100%;
    height: auto;
    margin: 0px;
    padding-left: 10px;
    background-position: bottom;
  }

  .organization_box{
    width: 100%;
    height: auto;
  }

  .organization_first_box{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .organization_first_box img{
    width: 100%;
    height: auto;
  }

  .organization_second_box{
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
    background-position: bottom;
  }

  .management_box{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .management_first_box{
      width: 100%;
      height: 600px;
  }

  .management_first_box h1{
    font-size: 30px;
  }

  .management_first_box h2{
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
  }

  .management_second_box{
    background-size: contain;
    margin-top: -300px;
    padding:0px;
    background-position: bottom;
  }

  .map_box{
    padding: 0px;
    margin:0px;
    width: 100%;
    height: auto;
  }

  #container_section > div.content_box > div.map_box > a > img{
    padding: 0px;
    margin:0px;
    padding-top: 50px;
    border: 0px;
    width:80%;
    height:auto;
  }

  .map_box img{
    width:20px;
    height:20px;
  }

  .map_box h1{
    font-size: 18px;
  }

  .map_box p{
    font-size: 15px;
  }

}
