@charset "UTF-8";

.license_img_box{
  width:100%;
  height:100%;
  text-align: center;
}

#container_section > div.content_box > div > a > img{
  display:inline-block;
  width:150px;
  height:200px;
  border: 1px solid #d4d4d4;
  margin-top: 30px;
}


@media all and (max-width:1280px) {

  .license_img_box{
    width:100%;
    height: auto;
  }


  #container_section > div.content_box > div > a > img{
    margin-bottom: 30px;
    margin-left: 8px;
  }

}
