@charset "UTF-8";

.notice_box, .information_box{
  background: white;
  width: 100%;
  height: 500px;
}

.notice_table, .information_table {
  margin: auto;
  border-collapse: collapse;
  text-align: left;
  line-height: 15px;
  width: 100%;
}

.notice_table thead th , .information_table thead th{
  font-size: 18px;
  padding: 10px;
  font-weight: 500;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}

.notice_table thead th:nth-child(1), .information_table thead th:nth-child(1){
  width:50px;
}

.notice_table thead th:nth-child(2), .information_table thead th:nth-child(2){
  width:80px;
}

.notice_table thead th:nth-child(3), .information_table thead th:nth-child(3){
  width:600px;
}


.notice_table tbody th, .information_table tbody th{
  height: 10px;
  padding: 10px;
  font-size: 13px;
  font-weight: 300;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
  border-right: 1px solid #ccc;
}

.posts_table_title{
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.posts_table_title a{
  color:black;
  font-size: 13px;
  font-weight: 100;
}

.posts_table_td{
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 8px;
  font-weight: 100;
  padding: 10px;
  background: #f3f6f7;
}


.page_box{
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 30px;
}

.page_box td{
  width: 100px;
}

.page_box a{
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: black;
}


@media all and (max-width:1280px) {

  .notice_box, .information_box{
    width: 100%;
    height: auto;
    margin:0px;
    padding:0px;
    margin-top: 20px;
    padding-bottom:20px;
  }

  .notice_table thead tr th, .information_table thead tr th{
    font-size:10px;
  }

  .notice_table tbody tr th, .notice_table tbody tr td, .information_table tbody tr th, .information_table tbody tr td{
    font-size: 10px;
  }

  .posts_table_title a{
    font-size: 13px;
  }

  .notice_table thead th:nth-child(1), .information_table thead th:nth-child(1){
    width:90px;
  }

  .notice_table thead th:nth-child(2), .information_table thead th:nth-child(2){
    width:100px;
  }

  .notice_table thead th:nth-child(4), .information_table thead th:nth-child(4){
    width:150px;
  }

  .notice_table thead th:last-child, .information_table thead th:last-child{
    display:none;
  }

  .notice_table tbody tr td:last-child, .information_table tbody tr td:last-child{
    display:none;
  }

  .page_box tr td a, .page_box tr td{
    font-size: 13px;
  }

  .page_box tr td{
    width: 100px;
    margin:0px;
    padding:0px;
  }

}
