@charset "utf-8";

.new_information_box{
  background: white;
  width: 100%;
  min-height: 500px;
}

.new_information_table {
  margin: auto;
  border-collapse: collapse;
  text-align: left;
  line-height: 15px;
  width: 100%;
}

.new_information_table thead th {
  font-size: 18px;
  padding: 10px;
  font-weight: 500;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
  text-align: center;
}

.new_information_table thead th:nth-child(1){
  width:30%;
}

.new_information_table thead th:nth-child(2){
  width:30%;
}

.new_information_table tbody th {
  height: 10px;
  padding: 10px;
  font-size: 13px;
  font-weight: 300;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
  border-right: 1px solid #ccc;
  text-align: center;
}

#container_section > div.new_information_box > table > tbody > tr:nth-child(2) > th:nth-child(2){
  border-right: 0px;
}

#container_section > div.new_information_box > table > tbody > tr:nth-child(1) > th:nth-child(5){
  border-right: 0px;
}

.post_text{
  font-size: 15px;
  font-weight: 300;
  padding:30px;
  min-height:300px;
}

.detail_information_box hr{
  border:2px solid #036;
  font-weight: 100;
}

.button_box, .remove_button_box{
  display:inline;
}

.button_box button, .remove_button_box button{
  border-radius:5px;
  background:white;
  border:2px solid gray;
  margin:30px;
  font-size: 13px;
}

.new_information_table input{
  border:0px;
  width:100%;
  height:100%;
  color:black;
  font-size:15px;
}

.new_information_table input::placeholder{
  color:gray;
  font-size:13px;
}

.post_text textarea{
  width:100%;
  height:500px;
  border:0px;
}


@media all and (max-width:1280px) {

  .new_information_box{
    margin-top: 20px;
    width:100%;
    height:auto;
  }

  .new_information_table thead tr th{
    font-size: 13px;
  }

  .new_information_table tbody tr th{
    font-size: 13px;
  }

  #container_section > div.new_information_box > div.post_text{
    font-size: 13px;
  }

  .new_information_table input::placeholder{
    font-size:10px;
  }


}
