{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--검색엔진설정-->
	<meta name="robots" content="index, follow">
	<meta name="author" cotent="backdevbuk_py">
	<meta name="naver-site-verification" content="56884b6b0548bba77dc1506399f3599580d182f6" />
	<meta name="keywords" content="능성, 능성산업개발, 산업개발, 개발, 철거, 비계구조물, 비계구조물철거, 구조물철거,
	폐기물수집, 폐기물운반, 폐기물수집운반, 중장비대여, 크라샤, 포크레인, 굴삭기, 철거업체, 안산철거업체, 안산철거,
	서울철거, 경기도철거, 경기철거, 신축공사철거, 신축공사, 공사철거, 철거공사, 토목공사, 토목, 토목업체, 토목공사업체,
	주능성산업개발, (주)능성산업개발, ㈜능성산업개발, 구한림, 비계구조물해체, 구조물해체, 비계해체, 공장철거, 아파트철거,
	건물철거, 상가철거, 오피스텔철거, 원룸철거, 주택철거, 주택공사, 오피스텔공사, 아파트공사, 원룸공사, 안산토목, 안산토목업체,
	안산토목공사, 안산토목공사업체, 토목공사업체, 토목업체, 안산비계구조물해체, 안산비계해체, 안산구조물해체, 석면해체, 석면업체,
	석면해체업체, 안산석면해체, 안산석면해체업체, 안산석면">
	 <meta name="description" content="㈜능성산업개발 비계구조물해체공사 | 철거심의대행 | 석면해체공사 | 토목공사 | 폐기물수집운반 | 중장비대여">
	 <meta property="og:title" content="(주)능성산업개발">
	 <meta property="og:description" content="㈜능성산업개발 비계구조물해체공사 | 철거심의대행 | 석면해체공사 | 토목공사 | 폐기물수집운반 | 중장비대여">
	 <link rel="canonical" href="http://www.neungseong.com">
	<!-- 반응형웹 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- css -->
	<link rel="stylesheet" href="{%static 'web/css/reset.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/base.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/base_menu.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/main.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/menu_1.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/menu_2.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/menu_3.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/menu_4.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/menu_5.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/menu_6.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/detail_notice.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/detail_information.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/detail_result.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/new_information_post.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/input_information_post_password.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/check_password_information_post.css'%}">
	<link rel="stylesheet" href="{%static 'web/css/magnific-popup.css'%}">
	<!-- 구글폰트 -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

	<title>(주)능성산업개발</title>
	<!--제이쿼리 자바스크립트-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<!-- 등록증 이미지 갤러리 자바스크립트-->
	<script src="{%static 'web/javascript/jquery.magnific-popup.min.js'%}"></script>
</head>
<body>

	<script type="text/javascript" src="{%static 'web/javascript/base.js'%}"></script>
	<section id="header_section">
		<div class="main_icon_box">
			<a href="{%url 'web:main'%}">
				<img src="{%static 'web/img/logo.png'%}">
			</a>
		</div>
		<div class="main_menu_box">
			<ul class="main_menu">
				<li class="menu_hover_1"><a href="{%url 'web:menu' page="company"%}">회사소개</a>
					<ul class="sub_menu">
						<li><a href="{%url 'web:menu' page="company"%}">인사말</a></li>
						<li><a href="{%url 'web:menu' page="history"%}">회사연혁</a></li>
						<li><a href="{%url 'web:menu' page="organization"%}">조직도</a></li>
						<li><a href="{%url 'web:menu' page="management"%}">경영방침</a></li>
						<li><a href="{%url 'web:menu' page="map"%}">찾아오시는길</a></li>
					</ul>
				</li>
				<li class="menu_hover_2"><a href="{%url 'web:menu' page="business"%}">사업분야</a>
                    <ul class="sub_menu">
                        <li><a class="detail_menu_view" href="{%url 'web:menu' page='demolition'%}">구조물해체공사</a></li>
                        <li><a class="detail_menu_view" href="{%url 'web:menu' page="asbestos"%}">석면해체공사</a></li>
                        <li><a class="detail_menu_view" href="{%url 'web:menu' page="waste"%}">건설폐기물처리</a></li>
                        <li><a class="detail_menu_view" href="{%url 'web:menu' page="civil"%}">토목공사</a></li>
                        <li><a href="{%url 'web:menu' page="equipment"%}">중장비대여</a></li>
                    </ul>
                </li>
                <li><a href="{%url 'web:menu' page="major"%}">주요공사</a></li>
				<li><a href="{%url 'web:menu' page="equipment"%}">보유중장비</a></li>
				<li><a href="{%url 'web:menu' page="license"%}">보유면허</a></li>
			</ul>
		</div>
		<div class="mobile_toggle_menu_btn">
			<img src="{%static 'web/img/toggle_menu_btn.png'%}">
			<ul class="mobile_menu">
				<li class="mobile_hover_1">회사소개
					<ul class="sub_menu">
						<li><a href="{%url 'web:menu' page="company"%}">인사말</a></li>
						<li><a href="{%url 'web:menu' page="history"%}">회사연혁</a></li>
						<li><a href="{%url 'web:menu' page="organization"%}">조직도</a></li>
						<li><a href="{%url 'web:menu' page="management"%}">경영방침</a></li>
						<li><a href="{%url 'web:menu' page="map"%}">찾아오시는길</a></li>
					</ul>
				</li>
                <li class="mobile_hover_2">사업분야
                    <ul class="sub_menu">
                        <li><a href="{%url 'web:menu' page="business"%}">사업소개</a></li>
                        <li><a href="{%url 'web:menu' page="demolition"%}">구조물해체공사</a></li>
                        <li><a href="{%url 'web:menu' page="asbestos"%}">석면해체공사</a></li>
                        <li><a href="{%url 'web:menu' page="waste"%}">건설폐기물처리</a></li>
                        <li><a href="{%url 'web:menu' page="civil"%}">토목공사</a></li>
                        <li><a href="{%url 'web:menu' page="equipment"%}">중장비대여</a></li>
                    </ul>
                </li>
                <li><a href="{%url 'web:menu' page="major"%}">주요공사</a></li>
				<li><a href="{%url 'web:menu' page="equipment"%}">보유중장비</a></li>
				<li><a href="{%url 'web:menu' page="license"%}">보유면허</a></li>
			</ul>
		</div>
	</section>

	<section id="content_section">
		{%block content%}
		{%endblock%}
	</section>

	<section id="footer_section">
		<br>
		<div class="sub_icon_box">
			<img src="{%static 'web/img/logo.png'%}">
		</div>
		<div class="contact_box">
			<br>
			<h1>(주)능성산업개발 | 대표이사 : 구한림<h1><br>
			<p>사업자등록번호 : 895-86-01279<p><br>
			<p>경기도 안산시 단원구 광덕3로 87(고잔동) 태극빌딩 302호</p><br>
			<p>TEL : 031-408-4992</p><br>
			<p>FAX : 031-409-4992</p><br>
			<p>EMAIL : ns931118@naver.com</p><br><br>
		</div>
	</section>

</body>
</html>
