{%extends 'web/base_menu.html'%}
{%load static%}
{%load  custom_tag%}

{%block korean%}
        문의하기
{%endblock%}

{%block english%}
        Information
{%endblock%}

{%block menu%}
        <a href="{%url 'web:menu' page='notice'%}"><li>공지사항</li></a>
        <a href="{%url 'web:menu' page='information'%}"><li>문의하기</li></a>
{%endblock%}

<!--컨테이너-->
{%block page%}
          | 문의하기
{%endblock%}

{%block container%}
      <br><br><br>
      <div class="delete_success_box">
        {%if name == 'delete'%}
          {%if success == 1%}
            <h1>게시글이 삭제되었습니다.</h1>
            <div class="button_box">
              <button onClick="location.href='{%url 'web:main'%}'">홈으로</button>
            </div>
          {%else%}
            <h1>비밀번호가 다르거나 게시글이 존재하지 않습니다.</h1>
            <div class="button_box">
              <button onClick="history.go(-1);">뒤로가기</button>
            </div>
          {%endif%}
        {%elif name == 'enter'%}
          {%if success != 1%}
            <h1>비밀번호가 다릅니다.</h1>
            <div class="button_box">
              <button onClick="history.go(-1);">뒤로가기</button>
            </div>
          {%endif%}
        {%endif%}
      </div>
  {%endblock%}
