{%extends 'web/base_menu.html'%}
{%load static%}
{%load  custom_tag%}

{%block korean%}
        공지사항
{%endblock%}

{%block english%}
        Notice
{%endblock%}

{%block menu%}
        <a href="{%url 'web:menu' page='notice'%}"><li>공지사항</li></a>
        <a href="{%url 'web:menu' page='information'%}"><li>문의하기</li></a>
{%endblock%}
<!--컨테이너-->

{%block page%}
          | 공지사항
{%endblock%}

{%block container%}
      <div class="display_none">
        <h1>{{notice_post.update_clicks}}</h1>
      </div>
      <div class="detail_notice_box">
        <table class="detail_notice_table">
          <thead>
                <tr>
                  <th scope="cols">번호</th>
                  <th scope="cols">작성자</th>
                  <th scope="cols">조회수</th>
                  <th scope="cols">날짜</th>
                </tr>
          </thead>
          <tbody>
                <tr>
                  <th scope="row">{{notice_post.pk}}</th>
                  <th scope="row">운영자</th>
                  <th scope="row">{{notice_post.clicks}}</th>
                  <th scope="row">{{notice_post.create_at}}</th>
                </tr>
                <tr>
                  <th scope="row">제목</th>
                  <th scope="row" colspan="4" class="detail_notice_box_title">{{notice_post.title}}</th>
                </tr>
          </tbody>
          </table>
          <div class="file_box">
            <h1> 첨부파일 </h1>
              {%if notice_post.file_1%}
                <a href="{{notice_post.file_1.url}}" download><h2>{{notice_post.file_1.url | file_name_slice}}</h2></a><br>
              {%else%}
                <h2>파일 없음</h2>
              {%endif%}
              {%if notice_post.file_2%}
                <a href="{{notice_post.file_2.url}}" download><h2>{{notice_post.file_2.url | file_name_slice}}</h2></a><br>
              {%endif%}
              {%if notice_post.file_3%}
                <a href="{{notice_post.file_3.url}}" download><h2>{{notice_post.file_3.url | file_name_slice}}</h2></a><br>
              {%endif%}
              {%if notice_post.file_4%}
                <a href="{{notice_post.file_4.url}}" download><h2>{{notice_post.file_4.url | file_name_slice}}</h2></a><br>
              {%endif%}
              {%if notice_post.file_5%}
                <a href="{{notice_post.file_5.url}}" download><h2>{{notice_post.file_5.url | file_name_slice}}</h2></a><br>
              {%endif%}
          </div>
          <div class="post_text">
            {{notice_post.text|linebreaks}}
          </div>
          <hr>
          <div class="button_box">
            <button onClick="history.go(-1);">뒤로가기</button>
          </div>
       </div>
  {%endblock%}
