{%extends 'web/base_menu.html'%}
{%load static%}
{%load  custom_tag%}

{%block korean%}
        {%if page == 'notice'%}
        공지사항
        {%elif page == 'information'%}
        문의하기
        {%endif%}
{%endblock%}

{%block english%}
        {%if page == 'notice'%}
        Notice
        {%elif page == 'information'%}
        Information
        {%endif%}
{%endblock%}

{%block menu%}
        <a href="{%url 'web:menu' page='notice'%}"><li>공지사항</li></a>
        <a href="{%url 'web:menu' page='information'%}"><li>문의하기</li></a>
{%endblock%}

<!--컨테이너-->
{%block page%}
        {%if page == 'notice'%}
        | 공지사항
        {%elif page == 'information'%}
        | 문의하기
        {%endif%}
{%endblock%}

{%block container%}
    <br><br><br>
    <div class="input_information_post_password_box">
      {%if name == 'delete'%}
        <form action="{%url 'web:edit_information' page='information' post_pk=information_post.pk name='delete'%}" method="post">
          {%csrf_token%}
          <h1>해당 게시글의 비밀번호를 입력해주세요.</h1>
          <input type="password" name="post_password"><br><br>
          <button type="submit">삭제하기</button>
        </form>
      {%elif name == 'enter'%}
        <form action="{%url 'web:detail_post' page='information' post_pk=information_post.pk%}" method="post">
          {%csrf_token%}
          <h1>해당 게시글의 비밀번호를 입력해주세요.</h1>
          <input type="password" name="post_password"><br><br>
          <button type="submit">글 보기</button>
        </form>
      {%endif%}
    </div>
{%endblock%}
