{%extends 'web/base.html'%}
{%load static%}
{%block content%}
<section id="wrap_section">
  <div class="main_img_box">
    <div class="main_img">
      <div class="main_introduce_box">
          <br>
          <h1>능력&nbsp</h1><h2>과 </h2><h1>성실함&nbsp</h1><h2>을 바탕으로</h2><br>
          <h1>신뢰&nbsp</h1><h2>가 우선시 생각되는 기업</h2><br><br>
          <h3>(주)능성산업개발&nbsp</h3><h2> 입니다.</h2><br><br>
          <p class="pc_main_intro">비계구조물해체공사 | 철거심의대행 | 석면해체공사 | 토목공사 | 폐기물수집운반 | 중장비대여</p>
          <p class="mobile_main_intro">ㆍ 비계구조물해체공사 ㆍ<br>ㆍ 철거심의대행 ㆍ<br>ㆍ 석면해체공사 ㆍ<br>ㆍ 토목공사 ㆍ<br>ㆍ 폐기물수집운반 ㆍ<br>ㆍ 중장비대여 ㆍ</p>
      </div>
    </div>
  </div>
  <section id="first_section">
    <div class="round_box">
      <img src="{%static 'web/img/demolition_1.jpeg'%}">
      <br><br>
      <h1>비계 구조물 해체 공사</h1><br>
      <p>탄탄한 기술과 경험을 바탕으로!<br>고객을 최우선으로 하는<br> 건설철학을 바탕으로<br>건축기술이 삶의 질을<br>높이도록 힘씁니다.</p>
    </div>
    <div class="round_box">
      <img src="{%static 'web/img/asbestos.jpg'%}">
      <br><br>
      <h1>석면 해체 공사</h1><br>
      <p>친환경 공법으로<br>석면제거에 앞장서며<br> 보다 안전한 작업환경을<br>만들고자<br>노력하고있습니다.</p>
    </div>
    <div class="round_box">
      <img src="{%static 'web/img/civil.jpg'%}">
      <br><br>
      <h1>토목 공사</h1><br>
      <p>첨단 기술력을 요구하는<br>도로, 교만등의 토목사업을<br>통하여 종합시스템 엔지니어링<br>체제구축에 항상<br>최선을 다합니다.</p>
    </div>
    <div class="round_box">
      <img src="{%static 'web/img/major_3.jpg'%}">
      <br><br>
      <h1>폐기물 수집운반</h1><br>
      <p>건축물 해체시 발생하는<br>폐기물을 처리해드립니다.</p>
    </div>
    <div class="round_box">
      <img src="{%static 'web/img/rental.jpg'%}">
      <br><br>
      <h1>중장비 대여</h1><br>
      <p>017, 035, 6W, 8W, 10LC<br>전기종 크라샤 보유하고 있으며<br>대여도 가능합니다.</p>
    </div>
  </section>
  <hr class="first_hr">
  <section id="second_section">
    <div class="gallery_box">
        <div class="slideshow-contanier">
          <div class="mySlides">
            <a href="{%url 'web:menu' page="major"%}">
            <img src="{%static 'web/img/major_1.jpg'%}">
            <h1>독산동 1005-3번지</h1>
            <br>
            <p>SH 오피스텔 신축공사 철거</p>
            </a>
          </div>
          <div class="mySlides">
              <a href="{%url 'web:menu' page="major"%}">
              <img src="{%static 'web/img/major_2.jpg'%}">
              <h1>대조동 179-21, 43, 44번지</h1>
              <br>
              <p>SH 오피스텔신 축공사 철거</p>
              </a>
          </div>
            <div class="mySlides">
              <a href="{%url 'web:menu' page="major"%}">
              <img src="{%static 'web/img/major_3.jpg'%}">
              <h1>시흥동 824-16, 17, 18, 19번지</h1>
              <br>
              <p>SH 다세대빌라 신축공사 철거</p>
              </a>
          </div>
            <div class="mySlides">
              <a href="{%url 'web:menu' page="major"%}">
              <img src="{%static 'web/img/major_4.jpg'%}">
              <h1>중동 668-5번지</h1>
              <br>
              <p>공장 철거 및 폐기물처리</p><br>
              </a>
          </div>
            <div class="mySlides">
              <a href="{%url 'web:menu' page="major"%}">
              <img src="{%static 'web/img/major_5.jpg'%}">
              <h1>중곡동 56-4, 5, 11, 12번지</h1>
              <br>
              <p>SH 다세대빌라 신축공사 철거</p>
              </a>
            </div>
            <div class="mySlides">
              <a href="{%url 'web:menu' page="major"%}">
              <img src="{%static 'web/img/major_6.jpg'%}">
              <h1>시흥동 940-28번지</h1>
              <br>
              <p>SH 다세대빌라 신축공사 철거</p>
              </a>
            </div>
            <div class="mySlides">
              <a href="{%url 'web:menu' page="major"%}">
              <img src="{%static 'web/img/major_7.jpg'%}">
              <h1>삼정동 281-13, 14, 15, 16번지</h1>
              <br>
              <p>다세대빌라 신축공사 철거</p>
              </a>
            </div>
            <div class="mySlides">
              <a href="{%url 'web:menu' page="major"%}">
              <img src="{%static 'web/img/major_8.jpg'%}">
              <h1>안녕동 180-518, 519, 345번지</h1>
              <br>
              <p>원룸신축공사 철거</p>
              </a>
            </div>
            <div class="mySlides">
              <a href="{%url 'web:menu' page="major"%}">
              <img src="{%static 'web/img/major_8.jpg'%}">
              <h1>시흥동 210-6, 15번지 211-5번지</h1>
              <br>
              <p>SH 다세대빌라 신축공사 철거</p>
              </a>
            </div>
            <div class="mySlides">
              <a href="{%url 'web:menu' page="major"%}">
              <img src="{%static 'web/img/major_8.jpg'%}">
              <h1>독산동 952번지 952-40번지</h1>
              <br>
              <p>SH 오피스텔 신축공사 철거</p>
              </a>
            </div>
        </div>
        <script type="text/javascript" src="{%static 'web/javascript/main.js'%}"></script>
    </div>
    <hr class="second_hr">
    <div class="info_box">
      <div class="map_img">
        <a target="_blank" href="https://map.naver.com/v5/entry/place/1172093662?c=14117815.7426436,4482838.2601929,13,0,0,0,dh&placePath=%2Fhome%3Fentry=plt">
        <img src="{%static 'web/img/map.png'%}">
        </a>
      </div>
      <div class="map">
        <img src="{%static 'web/img/location_logo.png'%}">
        <h1>찾아오시는 길</h1>
        <p>경기도 안산시 단원구 광덕3로 87(고잔동) 태극빌딩 302호</p>
        <p>※ 안산 진흥초등학교 부근</p>
      </div>
      <div class="tel">
        <a href="tel:010-4446-4992">
        <img src="{%static 'web/img/tel_logo.png'%}">
        <h1>대표이사 : 010-4446-4992</h1>
        </a>
      </div>
      <div class="tel">
        <a href="tel:031-408-4992">
        <img src="{%static 'web/img/tel_logo.png'%}">
        <h1>대표전화 : 031-408-4992</h1><br><p>(클릭시 통화연결)</p>
        </a>
      </div>
      <div class="fax">
        <img src="{%static 'web/img/fax_logo.png'%}">
        <h1>FAX : 031-409-4992</h1>
      </div>
      <div class="email">
        <a href="mailto:ns931118@naver.com">
        <img src="{%static 'web/img/email_logo.png'%}">
        <h1>EMAIL : ns931118@naver.com</h1><br><p>(클릭시 이메일발송)</p>
        </a>
      </div>
    </div>
  </section>
</section>
{%endblock%}
