{%extends 'web/base_menu.html'%}
{%load static%}

{%block korean%}
        보유면허
{%endblock%}

{%block english%}
        Holding License
{%endblock%}

{%block menu%}
        <a href="{%url 'web:menu' page='license'%}"><li>보유면허</li></a>
{%endblock%}

<!--컨테이너-->
{%block page%}
        | 보유 면허
{%endblock%}

{%block container%}
    <div class="content_box">
      <div class="license_img_box">
        <a class="mg-link" href="{%static 'web/img/license_1.png'%}">
          <img src="{%static 'web/img/license_1.png'%}">
        </a>
        <a class="mg-link" href="{%static 'web/img/license_2.jpg'%}">
          <img src="{%static 'web/img/license_2.jpg'%}">
        </a>
        <a class="mg-link" href="{%static 'web/img/license_3.png'%}">
          <img src="{%static 'web/img/license_3.png'%}">
        </a>
        <a class="mg-link" href="{%static 'web/img/license_4.jpg'%}">
          <img src="{%static 'web/img/license_4.jpg'%}">
        </a>
        <a class="mg-link" href="{%static 'web/img/license_5.png'%}">
          <img src="{%static 'web/img/license_5.png'%}">
        </a>
          <a class="mg-link" href="{%static 'web/img/license_6.png'%}">
          <img src="{%static 'web/img/license_6.png'%}">
        </a>
          <a class="mg-link" href="{%static 'web/img/license_7.png'%}">
          <img src="{%static 'web/img/license_7.png'%}">
        </a>
          <a class="mg-link" href="{%static 'web/img/license_8.png'%}">
          <img src="{%static 'web/img/license_8.png'%}">
        </a>
      </div>
    </div>
{%endblock%}
